body {
	background-color: #ecf0f1;
}

.cont {
	position: absolute;
	top: 0;
	bottom: 0;
	display: grid;
	background-color:#fff;
}


.main {
	padding: 10px;
	color: rgb(0, 136, 255);
	text-align: center;
}